.row
    .col-md-4
    .col-md-4
        form.form-signin(name="form")
            h2.form-signin-heading Please Sign Up
            input.form-control(type="text", placeholder="Username", autofocus="true", ng-model="user.username", required)
            input.form-control(type="password", placeholder="Password", ng-model="user.password", required)
            button.btn.btn-lg.btn-primary.btn-block(ng-click="signup(user)", ng-disabled="form.$invalid || isUnchanged(user)") Sign Up
    .col-md-4