.container
    h1 {{user.name}}
.container
    h1 Questions
    h1(ng-repeat="question in questions")
        a.lead(href='/questions/{{question.id}}') {{question.title}}
    h1 Answers
    h1(ng-repeat="answer in answers")
        a.lead(href='/questions/{{answer.questionId}}') {{answer.content | limit:100}}