doctype 5
html(ng-app="heapOverflowApp")
	head
		title Heap Overflow
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body(ng-controller="NavigationCtrl")
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Heap Overflow
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="/questions/") Questions
						li
							a(href="/tags/") Tags
						li
							a(href="/users/") Users
					p.pull-right.navbar-text(ng-show="loggedInUser") {{loggedInUser.name}}
					a.btn.btn-lg.btn-toolbar.pull-right(ng-click="logout()" ng-show="loggedInUser") Logout
					a.btn.btn-lg.btn-success.pull-right(href="/addQuestion", ng-show="loggedInUser") Ask a Question
					a.btn.btn-lg.btn-toolbar.pull-right(href="/login", ng-hide="loggedInUser") Log In
					a.btn.btn-lg.btn-toolbar.pull-right(href="/signup", ng-hide="loggedInUser") Sign Up
		div(ng-view)
	script(src='/javascripts/lib/angular/angular.js')
	script(src='/javascripts/lib/angular/angular-route.js')
	script(src='/javascripts/lib/angular/angular-resource.js')
	script(src="/javascripts/lib/jquery/jquery-1.10.2.min.js")
	script(src="/javascripts/lib/bootstrap/bootstrap.min.js")
	script(src='/javascripts/app/app.js')
	script(src='/javascripts/app/controllers.js')
	script(src='/javascripts/app/services.js')
	script(src='/javascripts/app/filters.js')